<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>信息抽取系统</title>
    {# 载入bootstrap的css文件 #}
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">

    {# 引入js文件 #}
    <script src="../static/bootstrap/js/bootstrap.js"></script>


</head>
<body>
<div class="container-md">
    {#    网页标题#}
    <div class="jumbotron">
        <h1 align="center">文件管理</h1>
    </div>
    <br>
    <table class="table table-bordered" >
        <thead align="center">
        <tr>
            <th scope="col">文件名</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody align="center">
         {% for file in files_list %}
            <tr>
                <td>{{ file }}</td>
                <td><a href="{{ url_for('delete_file', filename=file) }}">删除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>